body {background-color:rgba(253, 253, 253, 0.842);}

#tellMe {
    color: rgb(247, 248, 248);
    width: 500px;
    border: 1px solid black;
  }


h1 {
    color: rgb(15, 12, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
#marilyn {font-size: larger;}
  #marilyn {font-family: 'Festive', cursive}

